@import "./main/stylesheet";
@import "./main/reset";
@import "./mixins/mixins";
.container {
  width: 1180px;
  margin: 0 auto;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-family: 'Recoleta';
  font-weight: 600;
}
p {
  font-family: 'Noto Sans';
  font-weight: 400;
}
.first-section {
  background: #163A24;
}
.first-section__content {
  width: 1440px;
  height: 642px;
  color: #FBFAF7;
}
.first-section__top {
  padding: 1.39% 9.03%;
}
.top__content {
  display: flex;
  justify-content: space-between;
}
.white__logo {
  outline: none;
}
.white__logo:hover {
  transform: scale(1.2);
}
.nav {
  display: flex;
  align-items:center;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 16px;
}
.nav__link {
  text-decoration: none;
  color: #FBFAF7;
  padding: 0px 24px;
}
.nav__link:hover {
  background: #198C36;
  padding: 15px 25px;
  border-radius: 160px;
  transition: all 1s ease 0s;
}
.first-section__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 5.56% 0 9.03%;
}
.bottom__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 120px;
}
.header__content {
  width: 80%;
  font-size: 48px;
  line-height: 65px;
}
.header__text {
  font-size: 18px;
  width: 100%;
  line-height: 27px;
  padding-top: 18px;
}
.bottom__img {
  vertical-align: bottom;
}
@media (max-width: 1439px) {
  .contaner {
    width: 1200px;
  }
  .first-section__content {
    width: 1300px;
  }
}
@media (max-width: 1299px) {
  .contaner {
    width: 1100;
  }
  .first-section__content {
    width: 1200px;
  }
}
@media (max-width: 1199px) {
  .contaner {
    width: 940px;
  }
  .first-section__content {
    width: 1040px;
    height: 600px;
    padding-bottom: 0;
  }
  .first-section__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .bottom__content {
    text-align: center;
    width: 80%;
  }
}
@media (max-width: 1039px) {
  .contaner {
    width: 700px;
  }
  .first-section__content {
    width: 768px;
    height: 600px;
    padding-bottom: 0;
  }
  .nav__list {
    font-size: 20px;
  }
  .header__text {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .contaner {
    width: 420px;
  }
  .first-section__content {
    width: 480px;
    height: 600px;
    padding-bottom: 0;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav {
    margin-top: 10px;
  }
  .nav__list {
    font-size: 18px;
  }
  .header__content {
    font-size: 37px;
    line-height: 30px;
  }
  .header__text {
    font-size: 20px;
  }
  .bottom__img {
    height: 62.6%;
  }
}
@media (max-width: 479px) {
  .contaner {
    width: 300px;
  }
  .first-section__content {
    width: 320px;
    height: 600px;
    padding-bottom: 0;
  }
  .white__logo {
    padding-top: 30px;
  }
  .nav__list {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }
  .nav__link {
    padding-top: 20px;
  }
  .nav__link:hover {
    background: none;
    text-decoration-color: #72ec0d;
  }
  .header__content {
    font-size: 25px;
  }
  .header__text {
    font-size: 15px;
  }
  .bottom__img {
    height: 58.3%;
  }
}
.second-section__content {
  padding: 8.19% 0;
}
.second-section__top {
  margin: 0 15.83%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
.top__text-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 90px;
  color: #163A24;
}
.top__text-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-right: 90px;
}
.second-section__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163A24;
}
.second-section__text {
  padding-top: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #163A24;
}
.second-section__bottom {
  padding: 114px 272px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #163A24;
}
.bottom__items {
  height: 51px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1439px) {
  .container {
    width: 1200px;
  }
  .second-section__content {
    width: 1300px;
  }
}
@media (max-width: 1299px) {
  .container {
    width: 1100px;
  }
  .second-section__content {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .second-section__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .bottom__items {
    display: flex;
    width: 140%;
    justify-content: space-between;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 940px;
  }
  .second-section__content {
    width: 1040px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
@media (max-width: 1039px) {
  .container {
    width: 700px;
  }
  .second-section__content {
    width: 768px;
    height: 100%;
  }
  .second-section__top {
    grid-template: repeat(2, 30%) / repeat(2, 1fr);
  }
  .second-section__title {
    font-size: 20px;
  }
  .pic1 {
    width: 100%;
    height: auto;
  }
  .pic2 {
    width: 100%;
    height: auto;
  }
  .top__text-1 {
    width: 100%;
    height: auto;
    align-items: center;
  }
  .top__text-2 {
    width: 100%;
    height: auto;
    align-items: center;
  }
  .second-section__title {
    line-height: 20px;
  }
  .bottom__title {
    margin-top: 5%;
  }
  .bottom__items {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .container {
    width: 440px;
  }
  .second-section__content {
    width: 480px;
    height: 100%;
  }
  .second-section__bottom {
    width: 100%;
    height: 100px;
    margin-top: 0;
  }
  .bottom__title {
    font-size: 30px;
  }
  .bottom__items {
    width: 90%;
    padding: 15px;
}
.top__text-1 {
  width: 100%;
}
.second-section__top {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 0;
}
.top__image-1 {
  display: none;
}
.top__image-2 {
  display: none;
}
.top__text-1 {
  width: 100%;
  padding: 0;
}
.top__text-2 {
  width: 100%;
  padding: 0;
}
}
@media (max-width: 479px) {
  .container {
    width: 300px;
  }
  .second-section__content {
    width: 320px;
    height: 100%;
  }
  .bottom__title {
    font-size: 25px;
  }
  .bottom__items {
    width: 100%;
    height: 50%;
  }
  .second-section__top {
    width: 90%;
    height: 100%;
  }
  .second-section__title {
    font-size: 15px;
    text-align: center;
  }
  .second-section__text {
    font-size: 13px;
    text-align: center;
  }
}
.third-section {
  background: #163A24;
}
.third-section__content {
  height: 568px;
  width: 1440px;
  padding: 66px 0 139px;
  display: flex;
  justify-content: center;
}
.third-section__main {
  width: 73.82%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.third-section__title {
  padding-bottom: 68px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #FBFAF7;
}
.third-section__items-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.third-section__mixin {
  height: 51.94%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.third-section__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FBFAF7;
  margin-top: 28px;
}
.fourth-section {
  background: #F2EFE6;
}
.fourth-section__content {
  height: 775px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-section__main {
  height: 69.06%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fourth-section__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #163A24;
  width: 51.32%;
}
.fourt-section__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163A24;
  width: 52.78%;
}
.fifth-section__content {
  width: 1440px;
  height: 1396px;
  padding: 12.9% 0 8.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.fifth-section__top {
  display: flex;
  width: 1180px;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin-bottom: 8.17%;
}
.fifth-section__top-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.top-text__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163A24;
  width: 338px;
}
.top-text__text {
  padding-top: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #163A24;
  width: 379px;
}
.fifth-section__bottom {
  height: 39.33%;
  padding: 0 10.42%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 120px;
}
.fifth-section__bottom-title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163A24;
}
.fifth-section__bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #163A24;
  text-align: center;
  margin-top: 26px;
}
.fifth-section__bottom-blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.bottom-block {
  box-shadow: 5px 5px 20px #E9E4D5;
  border-radius: 15px;
  padding: 50px 28px 66px 40px;
  margin-left: 40px;
  width: 33.33333333%;
  background: #FBFAF7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.bottom-block__area-1 {
  height: 277px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.bottom-block__area-2 {
  height: 314px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.bottom-block__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: #163A24;
  width: 88%;
}
.bottom-block__list-line {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #163A24;
  list-style: disc;
}
.sixth-section {
  background: #F2EFE6;
}
.sixth-section__content {
  height: 602px;
  width: 1440px;
  padding: 19.93% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sixth-section__main {
  display: flex;
  flex-direction: column;
  height: 362px;
  justify-content: space-between;
  align-items: center;
}
.sixth-section__title {
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 54px;
  text-align: center;
  color: #163A24;
}
.sixth-section__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163A24;
}
.sixth-section__button {
  height: 52px;
  width: 244px;
  background: #198C36;
  border-radius: 160px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FBFAF7;
}
.sixth-section__button:hover {
  background: #163A24;
}
.sixth-section__block {
  width: 1180px;
  height: 186.66px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.block__block-1 {
  width: 260px;
  padding-bottom: 13px;
  margin-left: 29px;
}
.block__block-2 {
  margin-left: 29px;
}
.block__block-3 {
  background-image: url(../imgs/ellips.png);
  width: 285px;
  height: 98%;
  margin-left: 81.12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 36px 33px 44px 28px;
}
.block__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163A24;
}
.block__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  color: #163A24;
}
.seven-section__content {
  height: 753px;
  width: 1440px;
  display: flex;
  justify-content: center;
}
.seven-section__main {
  margin: 15.94% 9.03%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.seven-section__block {
  width: 50%;
}
.seven-section__image {
  width: 50%;
}
.seven-section__container {
  width: 394px;
  height: 229px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.seven-section__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163A24;
}
.seven-section__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #163A24;
}
.seven-section__button {
  width: 191px;
  height: 52px;
  background: #198C36;
  border-radius: 160px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FBFAF7;
}
.seven-section__button:hover {
  background: #163A24;
}
.eight-section {
  background: #163A24;
}
.eight-section__content {
  width: 1440px;
  height: 415px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eight-section__left-corner {
  padding-top: 20px;
  width: 21%;
  display: flex;
  justify-content: flex-start;
}
.eight-section__right-corner {
  padding-top: 20px;
  width: 21%;
  display: flex;
  justify-content: flex-end;
}
.eight-section__center {
  height: 42.17%;
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.eight-section__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #FBFAF7;
}
.eight-section__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FBFAF7;
}
.eight-section__button {
  width: 258px;
  height: 52px;
  background: #FAB5A0;
  border-radius: 160px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #163A24;
}
.eight-section__button:hover {
  background: #FFF;
}
.nine-section {
  background: #F2EFE6;
}
.nine-section__content {
  width: 1440px;
  height: 240px;
  padding: 60px 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nine-section__main {
  width: 81.94%;
  display: flex;
  justify-content: center;
}
.main__settings {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.settings__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163A24;
}
.settings__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #163A24;
  margin-top: 26px;
}
.settings__form {
  display: flex;
}
.settings__input {
  width: 554px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #F2EFE6;
  box-sizing: border-box;
  border-radius: 255px;
}
.settings__button {
  position: relative;
  right: 73px;
  width: 111px;
  height: 54px;
  background: #15762E;
  border-radius: 160px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FBFAF7;
}
.settings__info {
  width: 524px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #163A24;
  padding-top: 11px;
}
.info__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #198C36;
  padding-left: 7px;
}
.settings__button:hover {
  background: #163A24;
}
.info__link:hover {
  color: #72ec0d;
  text-shadow: #163A24;
}
.ten-section__content {
  height: 194px;
  width: 1440px;
  padding: 10.31% 9.03% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ten-section__main {
  width: 100%;
  height: calc(194px - 20.62%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ten-section__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ten-section__top-text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #163A24;
}
.ten-section__top-links {
  width: 150px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.ten-section__bottom {
  height: 49px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ten-section__bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #163A24;
}
.block-right__list {
  display: flex;
  width: 403px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.items__link {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: #198C36;
}
.items__link:hover {
  color: #163A24;
  text-decoration-line: underline;
  text-decoration-style: solid;
}