extends layout/layout

block vars
    - var pageTitle = 'Главная страница'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

block content
    section.first-section 
        .container
            .first-section__content
                .first-section__top
                    .top__content
                        a.white__logo(href="#")
                            img(src=".././assets/imgs/logo.png" alt="logo")
                        nav.nav 
                            ul.nav__list
                                li.nav__item
                                    a.nav__link(href="#") Log In
                                li.nav__item
                                    a.nav__link(href="#") 844-332-6440
                                li.nav__item
                                    a.nav__link(href="#") Get Started
                .first-section__bottom
                    .bottom__content 
                        h2.header__content Running the show has never been so easy.
                        p.header__text Ready to put the human back in HR? Clerksy helps you set the stage with an inclusive and compliant workplace.
                    .bottom__img 
                        img(src=".././assets/imgs/header_people.png" alt="people")
    section.second-section 
        .container 
            .second-section__content
                .second-section__top
                    .top__image-1
                        img(src=".././assets/imgs/section2_girl.png" alt="girl" class="pic1")
                    .top__text-1
                        h2.second-section__title Put the human back in HR.
                        p.second-section__text Your employees are the real stars. Show the love and help them perform!
                    .top__text-2
                        h2.second-section__title You don’t have to play all the parts.
                        p.second-section__text Sales, accounting, HR— Oh My! You can’t do it all - let Clerksy help.
                    .top__image-2
                        img(src=".././assets/imgs/section2_boy.png" alt="boy" class="pic2")
                .second-section__bottom
                    h2.bottom__title We partner with the best
                    .bottom__items
                        img(src=".././assets/imgs/stripe.png" alt="stripe" href="#")
                        img(src=".././assets/imgs/google.png" alt="google" href="#")
                        img(src=".././assets/imgs/notion.png" alt="notion" href="#")
                        img(src=".././assets/imgs/gusto.png" alt="gusto" href="#")
                        img(src=".././assets/imgs/aircall.png" alt="aircall" href="#")
    section.third-section 
        .container 
            .third-section__content
                .third-section__main
                    h2.third-section__title HR Production of the Highest Quality
                    .third-section__items-list
                        .third-section__mixin
                            img(src=".././assets/imgs/questions.png" alt="questions")
                            .third-section__text
                                p.paragraph-1 Educates & Informs
                                p.paragraph-2 Employee Expectations
                        .third-section__mixin
                            img(src=".././assets/imgs/shield.png" alt="questions")
                            .third-section__text
                                p.paragraph-3 Protects Your Business
                                p.paragraph-4 Just in Case
                        .third-section__mixin
                            img(src=".././assets/imgs/shelf.png" alt="questions")
                            .third-section__text
                                p.paragraph-5 Manages & Stores
                                p.paragraph-6 Important Documents
                        .third-section__mixin
                            img(src=".././assets/imgs/girl-item.png" alt="questions")
                            .third-section__text
                                p.paragraph-7 Create a Healthy
                                p.paragraph-8 Work Environment
    section.fourth-section 
        .container 
            .fourth-section__content
                .fourth-section__main
                    h2.fourth-section__title Employees come in all shapes and sizes. Find the right fit.
                    p.fourt-section__text Focus on casting and screening. Let Clerksy handle contracts, resolve any on set-conflicts and make sure you are compliant with work and safety boards.
                    .fourth-section__images
                        img(src=".././assets/imgs/crowd.png" alt="crowd")
    section.fifth-section 
        .container 
            .fifth-section__content
                .fifth-section__top 
                    .fifth-section__top-text
                        h2.top-text__title How the scenes fit together
                        p.top-text__text Employee Training & Development, Diversity & Inclusion Programs, and Conflict Resolution.
                    .fifth-section__top-image 
                        img(src=".././assets/imgs/workers.png" alt="workers")
                .fifth-section__bottom
                    h2.fifth-section__bottom-title Consider everyone's best interest
                    p.fifth-section__bottom-text HR is for everyone. Clerksy can help you.
                    .fifth-section__bottom-blocks 
                        .bottom-block
                            .bottom-block__area-1
                                img(src=".././assets/imgs/small_shield.png" alt="small shield")
                                h2.bottom-block__title Protect Your Company
                                ul.bottom-block__list
                                    li.bottom-block__list-line Compliance Audits & Training
                                    li.bottom-block__list-line Employee Data Storage
                                    li.bottom-block__list-line Policy Drafting
                        .bottom-block
                            .bottom-block__area-2
                                img(src=".././assets/imgs/stars.png" alt="stars")
                                h2.bottom-block__title Set Your Employees Up For Success
                                ul.bottom-block__list
                                    li.bottom-block__list-line Learning & Development
                                    li.bottom-block__list-line Employee Relations
                                    li.bottom-block__list-line Benefit Management
                                    li.bottom-block__list-line Employee Performance
                        .bottom-block
                            .bottom-block__area-1
                                img(src=".././assets/imgs/magnifier.png" alt="magnifier")
                                h2.bottom-block__title Know Your Industry's Legal Landscape
                                ul.bottom-block__list
                                    li.bottom-block__list-line Work Place Investigations
                                    li.bottom-block__list-line Employee Mediations
                                    li.bottom-block__list-line Performance Tracking
    section.sixth-section 
        .container 
            .sixth-section__content
                .sixth-section__main
                    h2.sixth-section__title It's easy as 1, 2, 3
                    p.sixth-section__text Clerksy can help use your unique business needs. Here's how:
                    .sixth-section__block
                        .block__block-1
                            p.block__text Fill out a form and tell us what you're looking for:
                            h3.block__title 5 minutes
                        .block__block-2
                            img.block-2__image(src=".././assets/imgs/top_arrow.png" alt="arrow")
                        .block__block-1
                            p.block__text Time it will take a Clerksy rep to follow up:
                            h3.block__title 24 hours
                        .block__block-2
                            img.block-4__image(src=".././assets/imgs/bottom-arrow.png" alt="arrow")
                        .block__block-3
                            p.block__text Take advantage of our monthly plans starting at:
                            h3.block__title $969 USD
                    button.sixth-section__button Book Free Discovery Call
    section.seven-section 
        .container 
            .seven-section__content
                .seven-section__main
                    .seven-section__block 
                        .seven-section__container
                            .seven-section__title Not just another HR resource.
                            .seven-section__text Simple. Entertaining. Informative.
                            button.seven-section__button Download E-book
                    .seven-section__image
                        img(src=".././assets/imgs/book.png" alt="book")
    section.eight-section 
        .container 
            .eight-section__content
                .eight-section__left-corner
                    img(src=".././assets/imgs/right_bg.png" alt="left bg")
                .eight-section__center
                    .eight-section__title Get Started With Clerksy
                    .eight-section__text Make sure your business puts people first.
                    button.eight-section__button Book a Free Discovery Call
                .eight-section__right-corner
                    img(src=".././assets/imgs/left_bg.png" alt="right bg")
    section.nine-section
        .container 
            .nine-section__content
                .nine-section__main
                    .main__settings
                        h2.settings__title Stay up to date!
                        p.settings__text Sign up for the latest Clerksy news.
                    .main__settings
                        form.settings__form(action="#")
                            input.settings__input(type="email")
                            button.settings__button Sign Up
                        .settings__info By submitting your email you agree to receive updates about Clerksy. You can unsubscribe at any time. View our full
                            span.info__link(href="#") Privacy Policy
    section.ten-section 
        .container 
            .ten-section__content
                .ten-section__main
                    .ten-section__top 
                        .ten-section__top-logo 
                            img(src=".././assets/imgs/green_logo.png" alt="logo")
                        .ten-section__top-text A people company.
                        .ten-section__top-links 
                            img(src=".././assets/imgs/fb.png" alt="facebook")
                            img(src=".././assets/imgs/twitter.png" alt="twitter")
                            img(src=".././assets/imgs/linkedin.png" alt="linkedin")
                            img(src=".././assets/imgs/instagram.png" alt="instagram")
                    .ten-section__bottom
                        .ten-section__block-left
                            p.ten-section__bottom-text © 2020 Clerksy, Inc. Clerksy is a registered trademark of Clerksy, Inc.
                        .ten-section__block-right
                            ul.block-right__list
                                li.block-right__items
                                    a.items__link(href="#") Privacy Policy
                                li.block-right__items
                                    a.items__link(href="#") Terms of Service
                                li.block-right__items
                                    a.items__link(href="#") GDPR
                                li.block-right__items
                                    a.items__link(href="#") Careers
                                li.block-right__items
                                    a.items__link(href="#") Press Kit





